<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bili_TestHtmlJquery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0648F11D350286000D02B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A06490A1D350287000D02B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0649151D350287000D02B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
